{% extends 'main_app/base.html' %}

{% load staticfiles %}

{% block title %}Волонтерство{% endblock %}


{%block body%}
<section id="become_volunteer">
<div class="container">
       <div class="row text-center" style="margin-top:50px;">
           <div class="col-md-12">
               <div class="row">
                   <div class="block_header">
                       <h4>Я хочу стати волонтером</h4></div>
                   </div>
               <div class="row">
                  <div class="block_p">
                      <p><span style="font-size:16px;">Наша організація займається пошуком<br>
втрачених домашніх тварин у м Хмельницькому<br> 
з 2009 року. За час роботи організації ми застосували<br>
багато новаторських ідей у нашій роботі.<br>
Однією з них є залучення волонтерів для розширення<br>
та покращення діяльності організації.</p>

<p>Розвитку програми волонтерства у організації пошуку<br> 
домашніх тварин в м Хмельницькому сприяло<br>
Міністерство молоді та спорту України для залучення<br>
до процесу діяльності організації молодь<br>
міста Хмельницького.</span></p>

<p><span  class="text-danger" style="font-size:18px;">На даний момент програма волонтерства проходить етап реорганізації.<br>Вибачте за тимчасові незручності.</span></p>
                  </div>
               </div>
           </div>
       </div>
   </div>
</section>
    
{%endblock%}